body {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    url("../img/background.jpg");
    background-size: cover;
}

#logo {
    display: block;
    margin: auto;
    width: 200px;
}

#promo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: #13504d;
    text-align: center;
    width: 40%;
    margin: auto;
}

#promo > span {
    text-transform: uppercase;
    font-weight: bold;
}

#main {
    background-color: white;
    color: #13504d;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.centered {
    text-align: center;
}

#showcase

#showcase img {
    width: 400px;
}

.gallery-container {
    display: grid;
    grid-template-columns: auto auto;
}

.gallery-content {
    border: 1px solid black;
    padding: 0px 0px 0px 0px;
}