body {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    url("../img/background.jpg");
    background-size: cover;
}

#logo {
    display: block;
    margin: auto;
    width: 200px;
}

#promo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: #13504d;
    text-align: center;
    width: 40%;
    margin: auto;
}

#promo > span {
    text-transform: uppercase;
    font-weight: bold;
}

#main {
    background-color: white;
    color: #13504d;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.centered {
    text-align: center;
}

.gallery-container {
    display: grid;
    grid-template-columns: auto auto;
}

.gallery-content {
    border: 1px solid black;
    padding: 0px 0px 0px 0px;
}

footer {
    background-image: url('../img/bg2.jpg');
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #BACE40;
}

footer > img {
    width: 100px;
    border-radius: 50%;
}

.quote {
    font-family: 'Caveat', cursive;
    font-size: 16pt;
}
